.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.todo-item-text {
  display: flex;
  flex-grow: 1;
}

.todo-item-buttons {
  display: flex;
  gap: 10px;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
}

button {
  background-color: aliceblue;
  display: flex;
  gap: 10px;
}

.todo-item-text-id {
  margin-right: 10px;
}

.todo-input {
  width: 300px;
  text-align: center;
}
