.img-dec{
  position: relative;
  padding: 10px 10px 20px 20px; 
}

.img-list{
  width: 150px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.img-list:hover {
  transform: scale(1.05);
  filter: brightness(0.5);
}
