.movie-container {
  display: flex;
  flex-wrap: wrap;
}

span {
  position: flex;
  padding: 10px;
}

.poster {
  margin-bottom: 20px;
  width: 180px;
  height: 250px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: filter 0.2s ease-in-out;
}

.poster:hover {
  filter: brightness(30%);
}
